# dependencies
node_modules/

# vuepress cache & temp
src/.vuepress/.cache/
src/.vuepress/.temp/
src/.vuepress/dist/

# logs
*.log
npm-debug.log*

# editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# env
.env
.env.local
